body{
    margin:0;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:linear-gradient(135deg,orange,blue);
    background-color:hsl(0,0%,95%);
}
#keys{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:10px;
    padding:25px;
}
button{
    width:100%;
    height:54px;
    border-radius:12px;
    border:none;
    background-color:rgb(13, 15, 63);
    color:white;
    font-size:1.8rem;
    font-weight:bold;
    cursor:pointer;
}
#calculator{
    font-family:Arial, sans-serif;
    background-color:hsl(0,0%,15%);
    border-radius:15px;
    max-width:460px;
    overflow:hidden;
}
#display{
    width:100%;
    padding:20px;
    font-size: 2.5rem;
    text-align:right;
    border:none;
    background-color:hsl(0,0%,20%);
    color:white;
    box-sizing:border-box;
}
button:hover{
    background-color:hsl(226, 89%, 33%);
}
button:active{
    background-color:hsl(242, 84%, 50%);
}
.operator-btn{
    background-color:hsl(35, 83%, 19%);
}
.operator-btn:hover{
    background-color:hsl(35, 83%, 11%);
}
.operator-btn:active{
    background-color:hsl(35,100%,75%);
}
p{
    color:whitesmoke;
    text-align:center;
}